<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>VueJs Training</title>
    <link rel="stylesheet" href="style.css" type="text/css"></link>
</head>
    <body>
        <div id="app">
            <h2>app</h2>
            <h2 v-once>{{ title }}</h2>
            <input type="text" v-on:input="changeTitle">
            <p>{{ sayHello() }} - <a v-bind:href="link" target="_blank"> Google</a></p>
            <p v-html="finishedLink"></p>
            <br>
        </div>
        <hr>
        <div id="app1">
            <h2>app1</h2>
            <button v-on:click="increase(2)"> click me</button>
            <button v-on:click="counter++">click me</button>
            <p>{{ counter *2 > 10 ? 'Grater than 10' : 'Smaller than 10' }}</p>
            <p v-on:mousemove="updateCoordinate">Coordinates : {{ x }} {{y}} - <span v-on:mousemove.stop>DEAD SPOT</span></p>
            <input type="text" @keyup.enter.space.f2="alertMe">
            <hr>
            <button v-on:click="counterDI++">Increase</button>
            <button v-on:click="counterDI--">Decrease</button>
            <button v-on:click="secondCounter++">Increase second</button>
            <p>Counter : {{counterDI}} | {{secondCounter}}</p>
            <P>Result : {{ result() }} | {{ output }}</P>
        </div>
        <hr>
        <div id="app2">
            <h2>app2</h2>
            <input type="text" v-model="name">
            <p>{{ name }}</p>
            <!--v-on:click ==> @click-->
            <button @click="changeLink">Click to Change Link</button>
            <!--v-bind:href ==> :href-->
            <a :href="link" target="_blank">Link</a>
            <hr>
            <div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
            <div class="demo" :class="{red:attachRed}"></div>
            <div class="demo" :class="[color, {red:attachRed}]"></div>
            <br>
            <input type="text" v-model="color">
        </div>
        <script src="vue.js" type="application/javascript"></script>
        <script src="vue.app.js" type="application/javascript"></script>
    </body>
</html>